@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Danh Sách Người Dùng";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Danh Sách Người Dùng</h4>
        </p>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Họ Và Tên</th>
                    <th>Tên Người Dùng</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
                }
            </tbody>

        </table>

    </div>
</div>